.formTitle{
    text-decoration-line: underline;
    font-size: 20px;
}

#updateProductForm{
    position: fixed; left: 140vh;
    font-size: 30px;
    font-weight: bold;
    width: 30vh;
    background-color: rgb(192, 0, 192)
}

.updateProductFormButton {
    border-radius: 5px;
    font-size: 20px;
    border: 1px, solid, black;
}

.updateProductButton:hover{
    color: rbga(84,84,84, 0.386);
}

.AddProductForm{
    position: fixed; left: 140vh;
    font-size: 30px;
    font-weight: bold;
    width: 30vh;
}

.addProductformButton{
    border-radius: 5px;
    font-size: 20px;
    border: 1px, solid, black;
}

.addProductFormButton:hover{
    color: rgba(84,84,84, 0.386) 
}


