@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


button {
overflow: visible;
}

button, select {
text-transform: none;
}

button, input.input, select, textarea {
color: #390b4a;
margin: 0;
}

input.input {
line-height: normal;
}

textarea {
overflow: auto;
}

#contact-container {
font-family: 'Montserrat', Arial, sans-serif;
border: solid 3px #390b4a;
max-width: 768px;
margin: 60px auto;
position: relative;
}

form {
padding: 37.5px;
margin: 50px 0;
}

h1 {
color: #390b4a;
font-size: 32px;
font-weight: 700;
text-align: center;
}

.underline {
border-bottom: solid 2px #390b4a;
margin: -0.512em auto;
width: 80px;
}

.icon_wrapper {
margin: 50px auto 0;
width: 100%;
}

.icon {
display: block;
fill: #390b4a;
height: 50px;
margin: 0 auto;
width: 50px;
}

.email {
float: right;
width: 45%;
}

input[type='text'].input, [type='email'].input, [type='password'].input, select, textarea {
background: none;
border: none;
border-bottom: solid 2px #390b4a;
color: #390b4a;
font-size: 1.000em;
font-weight: 400;
margin: 0em 0 1.875em 0;
padding: 0 0 0.875em 0;
text-transform: uppercase;
width: 100%;
}


.message {
float: none;
}

.name {
float: left;
width: 45%;
}

.subject {
width: 100%;
}

.telephone {
width: 100%;
}

textarea {
line-height: 150%;
height: 150px;
resize: none;
width: 100%;
}

#form_button {
background: none;
border: solid 2px #390b4a;
color: #390b4a;
cursor: pointer;
display: inline-block;
font-family: 'Helvetica', Arial, sans-serif;
font-size: 0.875em;
font-weight: bold;
outline: none;
padding: 20px 35px;
text-transform: uppercase;
}

#form_button:hover {
background: #390b4a;
color: #F2F3EB;
}

@media screen and (max-width: 768px) {
#contact-container {
margin: 20px auto;
width: 95%;
}
}

@media screen and (max-width: 480px) {
h1 {
font-size: 26px;
}

.underline {
width: 68px;
}

#form_button {
padding: 15px 25px;
}
}

@media screen and (max-width: 420px) {
h1 {
font-size: 18px;
}

.icon {
height: 35px;
width: 35px;
}

.underline {
width: 53px;
}

input[type='text'], [type='email'], select, textarea {
font-size: 0.875em;
}
}