#footerbox{
    color: ivory;
    background-image: url(https://img.freepik.com/premium-photo/synth-wave-retro-wave-vaporwave-futuristic-aesthetics-glowing-neon-style-wallpaper-background_489646-21228.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 4vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: bottom; 
    bottom: 0;
}


a{
    color: ivory;
    font-family: "Raleway", sans-serif;
    /* position: relative; */
    /* bottom: 0; */
}