#main-product-section{
    border: 10px ridge #390b4a;
    box-shadow: -7px 7px 15px 3px gray;
    height: 500vh;
    width: 95%;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.view-products{
display: flex;
flex-direction: row;
width: 100%;
flex-wrap:wrap;
}

.test{
    width: 20%;
}

.product-box{
    border: 3px solid black;
    box-shadow: -7px 3px 15px 3px gray;
    width: 100%;
    margin: 20px;
    height: 100%;
}

.quick-add-to-cart{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/16/16057.png");
    background-size: 100%;
    background-color: transparent;
    border: none;
}

.product-price{
    margin-top: 0;
    width: 20%;
    margin-left: 5px;
}

.product-name{
    margin-top: 0;
    width: 80%;
    margin-left: 5px;
    color: black;
}
.product-image{
    width: 100%;
    height: 80%;
}

#product-page-header{
 font-family: "Comfortaa", sans-serif;
 padding-left: 10px;
}

#product-details{
    display: flex;
    justify-content: space-between;
}

.product-name:hover, .product-price:hover{
    cursor: pointer;
    color: #390b4a;
}

.add-to-cart:hover{
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}